<main>
  <h1>
    Wheel of
    <span style="text-decoration: line-through" (click)="resetStudents()"
      >shame</span
    >&nbsp;<span style="font-weight: bold">fame 😎</span>
    !
  </h1>
  <div class="container">
    <div class="students">
      @for (student of students; track student.name) {
        <app-student
          [student]="student"
          (voluntaryStudent)="handleVoluntaryStudent($event)"
        />
      }
    </div>

    <button (click)="randomStudentToReview()" class="randomBtn">🙈</button>

    @if (selectedStudent) {
      <div class="selected-student">
        <h2>{{ selectedStudent.name }}</h2>
        <div>
          <button type="" (click)="confirmStudentReview()">👍</button>
          <button type="" (click)="cancelStudentReview()">👎🏻</button>
        </div>
      </div>
    }
  </div>
</main>
